.sider {
    max-width: 400px;
    width: 400px;
    min-width: 400px;
    text-align: center;
    line-height: 120px;
}

.ant-layout-sider {
    max-width: 400px;
    width: 400px;
    min-width: 400px;
    
}

.active {
    opacity: 0.3;    
}