<html>

<body>
    <div id="root"></div>
    <h1>Item ID: {{ id }}</h1>
</body>
<script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script src='https://unpkg.com/react-router-dom@5.0.0/umd/react-router-dom.min.js'></script>
   
<script type="text/babel">
    const root = ReactDOM.createRoot(document.getElementById('root'));
    root.render(
        <h1>hiiiii</h1>
    )
</script>
</html>